<! –– # rendered via `def show` in `controllers/articles_controller.rb` ––>

<! –– # mix of html & erb ––>

<h1>Articles</h1>

<! –– # `<% %>` = "evaluate enclosed ruby code & output returned value" ––>

<ul>
  <% @articles.each do |article| %>
    <li>

    <! –– # renders article title as a link to show.html.erb ––>
    
    <%= link_to article.title, article %>
      
    </li>
  <% end %>
</ul>