<! –– # rendered via `def show` in `controllers/articles_controller.rb` ––>

<! –– # mix of html & erb ––>

<h1>Anonymous Community Blog</h1>

<h2>Articles</h2>

<! –– # `<% %>` = "evaluate enclosed ruby code & output returned value" ––>

<ul class='home-list'>
  <% @articles.each do |article| %>

    <% unless article.archived? %>

      <li class='article-name-list'>

        <! –– # render article title as a link to show.html.erb ––>
        <%= link_to article.title, article, class: "home-links" %>
        
      </li>

    <% end %>

  <% end %>
</ul>

<%= button_to "Create A Post", new_article_path, :method => "get" %>

<article class='article-count'>
  <p class='indiv-count'>Public: <%= Article.public_count %></p>
  <p class='indiv-count'>|</p>
  <p class='indiv-count'>Archive: <%= Article.archived_count %></p>
</article>