/* general */

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  background-color: #E8E8E8;
}

div {
  margin: 0.1rem 0 0.1rem 0;
  padding-bottom: 1rem;
}

/* header */

h1 {
  color: green;
}

/* home page */

ul {
  text-align: center;
  /* list-style-position: inside; */
  list-style: none;
  margin: 0.2rem 0 0 -2.4rem;
}

a {
  text-decoration: none;
}

a:hover {
  /* transform: scale(1.5); */
  color: maroon;
}

/* create post page (& comments) */

#article_title,
#article_body,
#comment_commenter {
  margin-top: 0.4rem;
  padding: 0.5rem;
  width: 25rem;
  border: 0.07rem solid black;
}

#article_title,
#comment_commenter {
  border-radius: 0.6rem;
}

#article_body {
  height: 20rem;
  border-radius: 0.7rem;
}

#comment_commenter {
  width: 19rem;
}

#comment_body {
  border-radius: 0.65rem;
  height: 5rem;
  width: 20rem;
}

h2 {
  color: darkorange;
  font-size: 20px;
  border-top: 0.5rem solid white;
  padding-top: 1rem;
}

label, a {
  font-weight: bold;
  color: purple;
}

input[name="commit"] {
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: green;
  color: white;
  font-size: 16px;
  border: 0;
  padding: 0.5rem;
}


.field_with_errors:first-child {
  margin-bottom: -2.25rem;
}

/* comments */

/* #comment_commenter {
  margin: 0.35rem;
  border-radius: 0.7rem;
  border: 0.07rem solid black;
} */