/*********** WHOLE SITE ***********/

/* general */

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  /* background-color: #E8E8E8; */
  margin: 0;
}

div {
  margin: 0.1rem 0 0.1rem 0;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0.2rem 0 0 -2.4rem;
  text-align: center;
}

/* headings */

h1 {
  background-color: #BA3F1D;
  margin: 0 0 0.5rem 0;
  padding: 1rem;
  color: white;
  font-family: "Chalkduster", fantasy;
  font-size: 30px;
}

h2 {
  color: white;
  background-color: #80A1C1;
  margin: 1rem 5rem 1rem 5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 32px;
}

h3 {
  color: #A77E58;
  font-size: 20px;
  /* border-top: 0.5rem solid white; */
  /* padding-top: 1rem; */
}

/* links, buttons, labels */

a {
  text-decoration: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

a:hover {
  /* transform: scale(1.5); */
  color: #BA3F1D;
}

a,
label {
  font-weight: bold;
  color: #A77E58;
}

input[name="commit"],
button {
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: #A77E58;
  color: white;
  font-size: 16px;
  border: 0;
  padding: 0.5rem;
}

input[type="submit"]:hover,
button:hover {
  background-color: #80A1C1;
}

/* lists */

ul {
  list-style: none;
  margin: 0.2rem 0 0 -2.4rem;
  text-align: center;
}

/*********** PAGES ***********/

/* home page */

.article-name-list {
  padding-bottom: 1rem;
  font-size: 20px;
}

.home-list {
  background-color: #EEE3AB;
  margin: 0.25rem 5rem 1rem 5rem;
  padding: 1rem 0 0 0;
  border-radius: 1rem;
}

/* create post page, comment list */

#article_title,
#article_body,
#comment_commenter,
#comment_body {
  margin-top: 0.4rem;
  padding: 0.5rem;
  width: 25rem;
  border: 0;
}

#article_title,
#comment_commenter {
  border-radius: 0.6rem;
}

#article_body {
  height: 20rem;
  border-radius: 0.7rem;
}

#comment_body {
  border-radius: 0.65rem;
  height: 5rem;
}

.comment,
.article-actions {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  justify-content: center;
}

.comments-box {
  margin-bottom: 1rem;
}

/* create post page errors */

/* .field_with_errors:first-child {
  margin-bottom: -2rem;
}

div.error-1,
div.error-2 {
  color: #BA3F1D;
  font-weight: bold;
}

div.error-2 {
  margin-top: -1rem;
} */

/* comment form */

.commenter,
.comment-body {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
}

label[for="comment_commenter"],
label[for="comment_body"] {
  color: #A77E58;
}

.comment-form {
  color: #A77E58;
  /* font-size: 20px; */
  font-size: 16px;
  /* padding-top: 1rem; */
}

.hidden {
  display: none;
}

.add-comment-section {
  border-top: 0.25rem solid white;
  padding-top: 1rem;
}

.everything-comments,
.new-article-form {
  background-color: #EEE3AB;
  margin: 1rem 5rem 1rem 5rem;
  padding: 0;
  border-radius: 1rem;
}

.new-article-form {
  padding: 1.2rem 0.25rem 0.5rem 0.25rem;
}

#article-body {
  font-family: Arial;
}

.article-container {
  background-color: 	#CCDDB7;
  /* color: white; */
  margin: 0rem 5rem 0rem 5rem;
  padding: 1rem;
  border-radius: 1rem;
}

/* purples - #613F75, #60435F */
