/*********** WHOLE SITE ***********/

/* general */

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
}

.hidden {
  display: none;
}

div {
  margin: 0.1rem 0 0.1rem 0;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0.2rem 0 0 -2.4rem;
  text-align: center;
}

/* headings */

h1 {
  background-color: #BA3F1D;
  margin: 0 0 0.5rem 0;
  padding: 1rem 1rem 1.6rem 1rem;
  color: white;
  font-family: "Chalkduster", fantasy;
  font-size: 46px;
}

h2 {
  color: white;
  background-color: #80A1C1;
  margin: 1rem 5rem 1rem 5rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-size: 36px;
}

h3 {
  color: #A77E58;
  font-size: 24px;
  /* border-top: 0.5rem solid white; */
  /* padding-top: 1rem; */
  margin-bottom: 0.5rem;
}

/* links, buttons, labels */

.article-links,
.title {
  text-decoration: none;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.article-links,
label {
  font-weight: bold;
}

label {
  color: #A77E58;
}

.article-links {
  margin: 0 0.25rem 0 0.25rem;
}

input[name="commit"],
button,
.article-links {
  border-radius: 0.6rem;
  font-weight: bold;
  background-color: #A77E58;
  color: white;
  font-size: 16px;
  border: 0;
  padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

input[type="submit"]:hover,
button:hover,
a:hover {
  background-color: #80A1C1;
}

/* lists */

ul {
  list-style: none;
  margin: 0.2rem 0 0 -2.4rem;
  text-align: center;
}

/*********** PAGES ***********/

/* home page */

.article-name-list {
  padding-bottom: 1rem;
  font-size: 20px;
}

.home-list {
  background-color: #EEE3AB;
  margin: 0.25rem 5rem 1rem 5rem;
  padding: 1rem 0 0 0;
  border-radius: 1rem;
}

.home-links {
  text-decoration: none;
  font-weight: bold;
  color: #A77E58 !important;
}

.home-links:hover {
  color: #BA3F1D !important;
  background: none;
}

.article-count {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #A77E58;
  font-weight: bold;
}

.indiv-count {
  padding: 0.15rem 0.2rem 0 0.2rem;
  font-size: 14px;
}

.indiv-num {
  color: #80A1C1;
}

/* create post page, comment list */

.status {
  font-weight: bold;
  margin: -0.5rem 0 2.1rem 0;
  color: #BA3F1D;
  font-size: 20px;
}

#article_title,
#article_body,
#comment_commenter,
#comment_body {
  margin-top: 0.4rem;
  padding: 0.5rem;
  width: 50%;
  border: 0;
}

#article_title,
#comment_commenter {
  border-radius: 0.5rem;
}

#article_body {
  height: 20rem;
  border-radius: 0.7rem;
}

.article-p {
  font-size: 20px;
  margin-bottom: 2rem;
}

#comment_body {
  border-radius: 0.65rem;
  height: 5rem;
}

.article-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.comments-box {
  margin-bottom: 1rem;
}

/* create post page errors */

/* .field_with_errors:first-child {
  margin-bottom: -2rem;
}

div.error-1,
div.error-2 {
  color: #BA3F1D;
  font-weight: bold;
}

div.error-2 {
  margin-top: -1rem;
} */

/* comment form */

.commenter,
.comment-body {
  margin: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.commenter {
  margin-bottom: 0;
}

label[for="comment_commenter"],
label[for="comment_body"] {
  color: #A77E58;
}

.comment-form {
  color: #A77E58;
  font-size: 16px;
  margin-bottom: -1.75rem;
}

.comment-input-container {
  margin-top: 0.2rem;
}

.add-comment-section {
  border-top: 0.25rem solid white;
  padding-top: 1rem;
}

.everything-comments,
.new-article-form {
  background-color: #EEE3AB;
  margin: 0.3rem 5rem 1rem 5rem;
  padding: 0;
  border-radius: 1rem;
}

.new-article-form {
  padding: 1.2rem 0.25rem 0.5rem 0.25rem;
}

#article_body,
#comment_body {
  font-family: Arial;
}

.article-container {
  background-color:	#CCDDB7;
  margin: 0.25rem 5rem 1.2rem 5rem;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
}

.everything-comments {
  padding: 0 3rem 0 3rem;
}

h1,
.title {
  color: white !important;
}

.del-comment-btn {
  /* font-size: 11px !important; */
  background: none !important;
  color: #A77E58 !important;
  margin-left: -0.5rem !important;
  font-weight: normal;
}

.del-comment-btn:hover {
  color: #BA3F1D !important;
}

/* status */

.update-status {
  color: #A77E58;
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

select {
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  /* text-align: center; */
  border: 0;
}

/* responsive */

@media only screen and (max-width: 800px) {

  h1,
  .title {
    font-size: 30px;
    padding-bottom: 1rem;
  }

}

@media only screen and (max-width: 600px) {

  h1,
  .title {
    font-size: 24px;
    padding-bottom: 1rem;
    font-family: Arial;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

 .article-p,
 .status {
    font-size: 16px;
  }

  .article-name-list {
    font-size: 16px;
    margin-top: -0.1rem !important;
    margin-bottom: -0.1rem !important;
  }

  .article-links,
  button {
    font-size: 12px;
  }

  .article-actions {
    margin-top: -0.5rem !important;
  }

  p {
    font-size: 14px;
  }

  h2,
  .home-list,
  .article-container,
  .everything-comments,
  .new-article-form {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #article_title,
  #article_body,
  #comment_commenter,
  #comment_body {
    width: 75%;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  .everything-comments,
  .article-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .comment {
    flex-direction: column !important;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .commenter {
    margin-bottom: 0rem;
  }

  .indiv-count {
    font-size: 11px;
    padding-top: 0.3rem;
  }

  select {
    font-size: 12px;
  }

}

.del-red-hover:hover {
  background-color: #BA3F1D !important;
}

.article-actions {
  margin-bottom: 0.5rem;
  margin-top: -0.2rem;
}

#addCommentBtn {
  margin-left: 0.2rem !important;
}

.create-comment-btn {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.comment-body {
  margin-left: 1.4rem;
}